.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100vw;
    height: 70px;
    padding: 0px 80px;

}

.left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left-container img {
    width: 120px;

}

.left-container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 40px;

}

.left-container ul li {

    margin-right: 15px;
    font-size: 14px;
}

.left-container ul li span {
    margin-left: 5px;
    margin-top: 15px;
}

.right-conatiner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.right-conatiner p {
    margin-right: 15px;
    font-size: 14px;
}

.right-conatiner button {
    background-color: #000;
    border: none;
    outline: none;
    color: #fff;
    padding: 8px 10px;
    border-radius: 50px;
    font-size: 14px;
}

.hr-line {
    color: #eee;
}

/* mobile header */
.mobile-menubar {
    display: none;
}

.mobile-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    padding: 0px 80px;
    list-style: none;

}

.mobile-header-container li img {
    width: 120px;
}

.mobile-right-conatiner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mobile-right-conatiner p {
    margin-right: 15px;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.mobile-header-container button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* media queries */
@media screen and (max-width:1120px) {
    .laptop-menubar {
        display: none;
    }


    .mobile-menubar {
        display: block;
    }
}